{% import _self as macros %}

{% set scope = {
    menu: [
        {
            url: '/',
            name: 'Реализованные проекты',
        },
        {
            url: '/',
            name: 'Новости',
        },
        {
            url: '/',
            name: 'Контакты',
        },
    ],
    phone: '+7 (900) 900-90-90',
} %}

{% macro logo() %}
    <a href="{{ route('home') }}">
        <img
            src="{{ 'images/logo.png'|asset }}"
            alt="Загородный дом"
        >
    </a>
{% endmacro %}

{% macro phone(value) %}
    <a href="tel:{{ value }}" class="PrimaryPhone">
        <img
            src="{{ 'icons/phone.svg'|asset }}"
            alt="Телефон" width="16" height="16"
            class="PrimaryPhone__icon"
        >
        {{ value }}
    </a>
{% endmacro %}

{% macro button() %}
    <button type="button" class="Button Button--primary">
        Оставить заявку
    </button>
{% endmacro %}

{% macro offCanvasButton() %}
    <button
        type="button"
        id="offcanvas-button"
        class="Button Button--primary Button--icon"
        uk-toggle="target: #offcanvas"
    >
        <img
            src="{{ 'icons/list-white.svg'|asset }}"
            alt="" width="24" height="14"
        >
    </button>
{% endmacro %}

{% macro offCanvas(scope) %}
    <div id="offcanvas" class="OffCanvas" uk-offcanvas="overlay: true; flip: true">
        <div class="uk-offcanvas-bar OffCanvas__layout">
            <button type="button" class="uk-offcanvas-close OffCanvas__close">
                <img
                    src="{{ 'icons/cross-white.svg'|asset }}"
                    alt="" width="12" height="12"
                >
            </button>
            <nav class="OffCanvas__nav">
                {% include '@components/site-nav/site-nav.twig' with {
                    items: scope.menu,
                    column: true,
                } %}
            </nav>
            <div class="OffCanvas__contacts">
                {% include '@components/contacts/contacts.twig' %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro content(scope) %}
    {% import _self as macros %}

    <div class="Container Header">
        <div class="Header__logo">
            {{ macros.logo }}
        </div>

        <nav class="Header__nav">
            {% include '@components/site-nav/site-nav.twig' with {
                items: scope.menu,
            } %}
        </nav>

        <div class="Header__phone">
            {{ macros.phone(scope.phone) }}
        </div>

        <div class="Header__feedbackButton">
            {{ macros.button }}
        </div>

        <div class="Header__offCanvasButton">
            {{ macros.offCanvasButton }}
        </div>
    </div>

    {{ macros.offCanvas(scope) }}
{% endmacro %}

{{ macros.content(scope) }}
