{% import _self as macros %}

{% set scope = {
    menu: [
        {
            url: '/',
            name: 'Реализованные проекты',
        },
        {
            url: '/',
            name: 'Новости',
        },
        {
            url: '/',
            name: 'Контакты',
        },
    ],
    phone: '+7 (900) 900-90-90',
} %}

{% macro logo() %}
    <a href="{{ route('home') }}">
        <img
            src="{{ 'images/logo.png'|asset }}"
            alt="Загородный дом"
        >
    </a>
{% endmacro %}

{% macro phone(value) %}
    <a class="PrimaryPhone" href="tel:{{ value }}">
        <img
            class="PrimaryPhone__icon"
            src="{{ 'icons/phone.svg'|asset }}"
            alt="Телефон"
            width="16"
            height="16"
        >
        {{ value }}
    </a>
{% endmacro %}

{% macro button() %}
    <button type="button" class="Button Button--primary">
        Оставить заявку
    </button>
{% endmacro %}

{% macro offcanvasButton() %}
    <button
        type="button"
        class="Button Button--primary Button--icon"
        uk-toggle="target: #offcanvas"
        id="offcanvas-button"
    >
        <img
            src="{{ 'icons/list-white.svg'|asset }}"
            width="24"
            height="14"
            alt=""
        >
    </button>
{% endmacro %}

{% macro offcanvas(scope) %}
    <div id="offcanvas" class="Offcanvas" uk-offcanvas="overlay: true; flip: true">
        <div class="uk-offcanvas-bar Offcanvas__layout">
            <button class="uk-offcanvas-close Offcanvas__close" type="button">
                <img
                    src="{{ 'icons/cross-white.svg'|asset }}"
                    width="12"
                    height="12"
                    alt=""
                >
            </button>
            <nav class="Offcanvas__nav">
                {% include '@components/site-nav/site-nav.twig' with {
                    items: scope.menu,
                    column: true,
                } %}
            </nav>
            <div class="Offcanvas__contacts">
                {% include '@components/contacts/contacts.twig' %}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro content(scope) %}
    {% import _self as macros %}

    <div class="Container Header">
        <div class="Header__logo">
            {{ macros.logo }}
        </div>

        <nav class="Header__nav">
            {% include '@components/site-nav/site-nav.twig' with {
                items: scope.menu,
            } %}
        </nav>

        <div class="Header__phone">
            {{ macros.phone(scope.phone) }}
        </div>

        <div class="Header__feedbackButton">
            {{ macros.button }}
        </div>

        <div class="Header__offcanvasButton">
            {{ macros.offcanvasButton }}
        </div>
    </div>
    {{ macros.offcanvas(scope) }}
{% endmacro %}

{{ macros.content(scope) }}
