{% import _self as macros %}

{% set scope = {
    phone: '+7 (900) 900-90-90',
    email: 'info@gmail.com',
    location: 'г. Владивосток <br> ул. Выселковая 49, стр. 3'
} %}

{% macro content(scope) %}
    <div class="ContactsSection">
        <p class="ContactsSection__item">
            <a href="tel:{{ scope.phone }}" class="ContactsItem">
                <img
                    src="{{ 'icons/telephone_mright_menu.svg'|asset }}"
                    width="24"
                    height="14"
                    alt=""
                    class="ContactsItem__icon"
                >
                {{ scope.phone }}
            </a>
        </p>
        <p class="ContactsSection__item">
            <a href="email:{{ scope.email }}" class="ContactsItem">
                <img
                    src="{{ 'icons/email_mright_menu.svg'|asset }}"
                    width="24"
                    height="14"
                    alt=""
                    class="ContactsItem__icon"
                >
                {{ scope.email }}
            </a>
        </p>
        <p class="ContactsSection__item">
            <span class="ContactsItem">
                <img
                    src="{{ 'icons/location_marker_mright_menu.svg'|asset }}"
                    width="24"
                    height="14"
                    alt=""
                    class="ContactsItem__icon"
                >
                {{ scope.location|raw }}
            </span>
        </p>
    </div>
{% endmacro %}

{{ macros.content(scope) }}