{% import _self as macros %}

{% set scope = {
    items: items ?? [],
} %}

{% macro project(data) %}
    {% set data = {
        image: data.image ?? '',
        title: data.title ?? '',
        text: data.text ?? '',
    } %}

    <div class="ProjectCard">
        <div class="ProjectCard__description">
            <h3 class="ProjectCard__title">
                {{ data.title|raw }}
            </h3>
            <p class="ProjectCard__text">
                {{ data.text|nl2br }}
            </p>
        </div>
        <img
            src="{{ data.image }}"
            alt="{{ data.title }}"
            class="ProjectCard__image"
        >
    </div>
{% endmacro %}

{% macro content(scope) %}
    {% import _self as macros %}

    <section class="ProjectsSection">
        <h2 class="ProjectsSection__title">
            Реализованные проекты
        </h2>
        <ul class="ProjectsSection__grid">
            {% for item in scope.items %}
                <li class="ProjectsSection__item">
                    {{ macros.project(item) }}
                </li>
            {% endfor %}
        </ul>
    </section>
{% endmacro %}

{{ macros.content(scope) }}
